@model CalculatorApp.Models.CalculatorModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="label">Prosty kalkulator dodawania</h1>

    <form asp-action="Index" method="post">
        <div >
             <label class="liczba" for="Number1">Liczba 1:</label>
            <input class="numer" type="number" asp-for="Number1" step="0.01" required />
        </div>

        <div >
            <label class="liczba" for="Number2">Liczba 2:</label>
            <input class="numer" type="number" asp-for="Number2" step="0.01" required />
        </div>

        <div id="guzik">
            <button id="dodaj" type="submit">Dodaj</button>
        </div>
    </form>

    @if (Model.Result != 0 || (Model.Number1 != 0 && Model.Number2 != 0))
    {
        <h2 id="wynik">Wynik: @Model.Result</h2>
    }
</body>
</html>
