html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #7d26d4;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#label {
    background-color: #a366e0;
    padding: 15px;
    border: 2px dotted white;
}

.liczba {
    padding: 10px;
}

.numer {
    color: #7d26d4;
    text-align: left;
}

#guzik {
    padding-top: 15px;
    padding-bottom: 5px;
}

#dodaj {
    color: white;
    background-color: #a366e0;
    border: 2px dotted white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

    #dodaj:hover {
        background-color: #d6b5f5;
    }

#wynik {
    padding: 10px;
}
